/* Estilos personalizados */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table {
    margin-top: 20px;
}

.btn {
    margin-right: 5px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}